form {
    width: 25em;
    height: 25em;
  }
  
  .formTitle {
    background-color: #97bf0d;
    height: 6%;
    color: white;
    text-align: center;
    padding: 1.5%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  #formFields {
    background-color: #f5f5f0;
    height: 90%;
    padding: 0;
    margin: 0;
    border: 1px black solid;
    border-top: 0;
  }

  .submitButton {
    background-color: #97bf0d;
    color: white;
    text-align: center;
    height: 10%;
    width: 85%;
    position: relative;
    left: 7.5%;
    border: 0;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.inputField {
    margin-top: 5%;
    padding: 2%;
    width: 85%;
    position: relative;
    left: 7.5%;
    box-sizing: border-box;
}