#login-form {
    max-width: 30%;
    min-height: 350px;
    max-height: 500px;
    border: solid black 1px;
    margin: auto;
}

.input-text {
    width: 80%;
    display: block;
    margin: 10px auto;
    height: 30px;
}

.submit-button {
    display: block;
    background: #03A595;
    color: #fff;
    min-height: 35px;
    border: none;
    width: 50%;
    margin: 20px auto;
}

.register-button {
    display: block;
    background: rgb(206, 175, 3);
    color: #fff;
    min-height: 35px;
    border: none;
    width: 50%;
    margin: 10px auto;
}

#title {
    text-align: center;
}