#login-form {
    max-width: 30%;
    min-height: 380px;
    max-height: 520px;
    border: solid black 1px;
    margin: auto;
}

.input-text {
    width: 80%;
    display: block;
    margin: 10px auto;
    height: 30px;
}

#error-message {
    width: 80%;
    margin: auto;
    color: red;
}

.submit-button {
    display: block;
    background: #03A595;
    color: #fff;
    min-height: 35px;
    border: none;
    width: 50%;
    margin: 20px auto;
}

.register-button {
    display: block;
    background: red;
    color: #fff;
    min-height: 35px;
    border: none;
    width: 50%;
    margin: 10px auto;
}

#title {
    text-align: center;
}